@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family:'Nsans-Regular' ;
  src: url('./netflix-sans-font/NetflixSans-Regular.woff2');
}
@font-face {
  font-family:'Nsans-Bold' ;
  src: url('./netflix-sans-font/NetflixSans-Bold.woff2');
}
@font-face {
  font-family:'Nsans-Light' ;
  src: url('./netflix-sans-font/NetflixSans-Light.woff2');
}
@font-face {
  font-family:'Nsans-Medium' ;
  src: url('./netflix-sans-font/NetflixSans-Medium.woff2');
}

body{
  font-family:'Nsans-Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}